@import url("./github-markdown.css");

.ubw-article .ubw-end-of-main-content {
  margin-top: 1em;
}

.ubw-article .ubw-meta-data {
  margin-top: 1em;
}

.ubw-article .ubw-meta-data-last-updated-at span:nth-child(n + 2) {
  margin-left: 0.5em;
}

.ubw-top .ubw-articles-item-last-updated-at {
  margin-left: 0.5em;
}
